<section class="about">
    <div class="about__bg">

    </div>
    <div class="container">
       
        <div class="about__wrapper">
            <div class="about__left">
                <div class="about__video">
                    <div class="about__video-play">
                        <img src="./img/about/tringle.svg" alt="">
                    </div>
                    <img src="./img/about/about1.png" alt="">
                </div>
                <div class="about__right-socials">
                    <a href="">
                        <img src="./img/social/you.svg" alt="">
                    </a>
                    <a href="">
                        <img src="./img/social/vk.svg" alt="">
                    </a>
                </div>
            </div>
            <!-- left -->
            <div class="about__center">
                <div class="about__circle">
                    <div class="about__circle-left">
                        <div class="about__circle-left-block-text">
                            <div class="about__circle-left-text">
                                все женщины прекрасны - главная идея
                            </div>
                        </div>
                       
                    </div>
                    <div class="about__circle-right">
                        <div class="about__circle-right-image">
                            <img src="./img/about/Subtract.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- center -->
            <div class="about__right">
                <div class="about__right-wrap">
                    <a href="" class="button-all">
                        <span>в каталог</span>
                    </a>
                    <div class="about__text">
                        Вся косметика, выпускаемая брендом<br> Bogenia, <span>проходит дерматологическое тестирование в независимых лабораториях</span> для сертификации безопасности
                    </div>
                </div>
                <div class="about__right-block">
                    <div class="about__right-block-content">
                        <div class="about__right-block-image">
                            <img src="./img/about/rabbit.png" alt="">
                        </div>
                        <div class="about__right-block-text">
                            <strong>Сruelty free</strong>
                            <span>Косметика Bogenia 
                                не тестируется на животных
                                и гипоалергенна</span>
                        </div>
                        <!-- text -->
                        <div class="about__right-block-circle">
                            <img src="./img/about/circle.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- right -->
        </div>
        <div class="about__scroll">
            <div class="about__scroll-circle">
                <img src="./img/icon/downwhite.svg" alt="">
            </div>
            <div class="about__scroll-text">
                Scroll Down
            </div>
        </div>
    </div>
</section>