<section class="batch">
    <div class="container">
        
            <div class="batch__title">
                Батч код
            </div>
            <div class="batch__block">
                <label class="batch__block-search">
                    <img src="./img/icon/search.svg" alt="">
                </label>
                <input type="text" placeholder="Введите батч-код">
                <button class="batch__block-btn">
                    <img src="./img/icon/nextwhite.svg" alt="">
                </button>
            </div>
            <div class="batch__inner">
                <div class="batch__inner-image">
                    <img src="./img/batch/batch1.png" alt="">
                </div>
                <div class="batch__inner-text">
                    общая европейская кодировка состоящая из цифр и букв, содержащая информацию о дате производства и сроке годности косметического продукта
                </div>
            </div>
            <!-- inner -->
            <div class="batch__none">
                <div class="batch__none-title">Сожалеем, но ничего не найдено :(</div>
                <div class="batch__none-desk">рекомендации:</div>
                <ul class="batch__none-lists">
                    <li>Убедитесь, что батч-код введен без ошибок.</li>
                    <li>Попробуйте обновить страницу и ввести батч-код заново.</li>
                    <li>Если предыдущие шаги не помогли, то свяжитесь с <a href="">технической поддержкой.</a></li>
                </ul>
            </div>
            <div class="batch__data">
                <span>Батч-код</span>
                <span>Артикул</span>
                <span>Наименование продукта</span>
                <span>Произведен</span>
                <span>Годен до</span>
                <span>Страна</span>
            </div>
            <!-- data -->
            <div class="batch__wrapper">
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
                <div class="batch__product">
                    <div class="batch__product-cod">01B1</div>
                    <div class="batch__product-article">PT613.105</div>
                    <div class="batch__product-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-produced">17.02.2021</div>
                    <div class="batch__product-fit">17.02.2025</div>
                    <div class="batch__product-country">Чехия</div>
                </div>
                <!-- product -->
            </div>
            <div class="batch__wrapper-mob">
                <div class="batch__product-mob">
                    <div class="batch__product-mob-circle">
                        <img src="./img/icon/downarrowblack.svg" alt="">
                    </div>
                    <div class="batch__product-mob-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-mob-cod">
                        <span>Батч-код</span>
                        <strong>01B1</strong>
                    </div>
                    <!-- cod -->
                    <div class="batch__product-mob-article">
                        <span>Артикул</span>
                        <strong>PT613.105</strong>
                    </div>
                    <!-- article -->
                    <div class="batch__product-mob-produced">
                        <span>Произведен</span>
                        <strong>17.02.2021</strong>
                    </div>
                    <!-- produced -->
                    <div class="batch__product-mob-fit">
                        <span>Годен до</span>
                        <strong>17.02.2025</strong>
                    </div>
                    <!-- fit -->
                    <div class="batch__product-mob-country">
                        <span>Страна</span>
                        <strong>Чехия</strong>
                    </div>
                </div>
                <div class="batch__product-mob">
                    <div class="batch__product-mob-circle">
                        <img src="./img/icon/downarrowblack.svg" alt="">
                    </div>
                    <div class="batch__product-mob-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-mob-cod">
                        <span>Батч-код</span>
                        <strong>01B1</strong>
                    </div>
                    <!-- cod -->
                    <div class="batch__product-mob-article">
                        <span>Артикул</span>
                        <strong>PT613.105</strong>
                    </div>
                    <!-- article -->
                    <div class="batch__product-mob-produced">
                        <span>Произведен</span>
                        <strong>17.02.2021</strong>
                    </div>
                    <!-- produced -->
                    <div class="batch__product-mob-fit">
                        <span>Годен до</span>
                        <strong>17.02.2025</strong>
                    </div>
                    <!-- fit -->
                    <div class="batch__product-mob-country">
                        <span>Страна</span>
                        <strong>Чехия</strong>
                    </div>
                </div>
                <div class="batch__product-mob">
                    <div class="batch__product-mob-circle">
                        <img src="./img/icon/downarrowblack.svg" alt="">
                    </div>
                    <div class="batch__product-mob-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-mob-cod">
                        <span>Батч-код</span>
                        <strong>01B1</strong>
                    </div>
                    <!-- cod -->
                    <div class="batch__product-mob-article">
                        <span>Артикул</span>
                        <strong>PT613.105</strong>
                    </div>
                    <!-- article -->
                    <div class="batch__product-mob-produced">
                        <span>Произведен</span>
                        <strong>17.02.2021</strong>
                    </div>
                    <!-- produced -->
                    <div class="batch__product-mob-fit">
                        <span>Годен до</span>
                        <strong>17.02.2025</strong>
                    </div>
                    <!-- fit -->
                    <div class="batch__product-mob-country">
                        <span>Страна</span>
                        <strong>Чехия</strong>
                    </div>
                </div>
                <div class="batch__product-mob">
                    <div class="batch__product-mob-circle">
                        <img src="./img/icon/downarrowblack.svg" alt="">
                    </div>
                    <div class="batch__product-mob-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-mob-cod">
                        <span>Батч-код</span>
                        <strong>01B1</strong>
                    </div>
                    <!-- cod -->
                    <div class="batch__product-mob-article">
                        <span>Артикул</span>
                        <strong>PT613.105</strong>
                    </div>
                    <!-- article -->
                    <div class="batch__product-mob-produced">
                        <span>Произведен</span>
                        <strong>17.02.2021</strong>
                    </div>
                    <!-- produced -->
                    <div class="batch__product-mob-fit">
                        <span>Годен до</span>
                        <strong>17.02.2025</strong>
                    </div>
                    <!-- fit -->
                    <div class="batch__product-mob-country">
                        <span>Страна</span>
                        <strong>Чехия</strong>
                    </div>
                </div>
                <div class="batch__product-mob">
                    <div class="batch__product-mob-circle">
                        <img src="./img/icon/downarrowblack.svg" alt="">
                    </div>
                    <div class="batch__product-mob-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-mob-cod">
                        <span>Батч-код</span>
                        <strong>01B1</strong>
                    </div>
                    <!-- cod -->
                    <div class="batch__product-mob-article">
                        <span>Артикул</span>
                        <strong>PT613.105</strong>
                    </div>
                    <!-- article -->
                    <div class="batch__product-mob-produced">
                        <span>Произведен</span>
                        <strong>17.02.2021</strong>
                    </div>
                    <!-- produced -->
                    <div class="batch__product-mob-fit">
                        <span>Годен до</span>
                        <strong>17.02.2025</strong>
                    </div>
                    <!-- fit -->
                    <div class="batch__product-mob-country">
                        <span>Страна</span>
                        <strong>Чехия</strong>
                    </div>
                </div>
                <div class="batch__product-mob">
                    <div class="batch__product-mob-circle">
                        <img src="./img/icon/downarrowblack.svg" alt="">
                    </div>
                    <div class="batch__product-mob-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-mob-cod">
                        <span>Батч-код</span>
                        <strong>01B1</strong>
                    </div>
                    <!-- cod -->
                    <div class="batch__product-mob-article">
                        <span>Артикул</span>
                        <strong>PT613.105</strong>
                    </div>
                    <!-- article -->
                    <div class="batch__product-mob-produced">
                        <span>Произведен</span>
                        <strong>17.02.2021</strong>
                    </div>
                    <!-- produced -->
                    <div class="batch__product-mob-fit">
                        <span>Годен до</span>
                        <strong>17.02.2025</strong>
                    </div>
                    <!-- fit -->
                    <div class="batch__product-mob-country">
                        <span>Страна</span>
                        <strong>Чехия</strong>
                    </div>
                </div>
                <div class="batch__product-mob">
                    <div class="batch__product-mob-circle">
                        <img src="./img/icon/downarrowblack.svg" alt="">
                    </div>
                    <div class="batch__product-mob-name">Bogenia Waterproof Lipliner-105</div>
                    <div class="batch__product-mob-cod">
                        <span>Батч-код</span>
                        <strong>01B1</strong>
                    </div>
                    <!-- cod -->
                    <div class="batch__product-mob-article">
                        <span>Артикул</span>
                        <strong>PT613.105</strong>
                    </div>
                    <!-- article -->
                    <div class="batch__product-mob-produced">
                        <span>Произведен</span>
                        <strong>17.02.2021</strong>
                    </div>
                    <!-- produced -->
                    <div class="batch__product-mob-fit">
                        <span>Годен до</span>
                        <strong>17.02.2025</strong>
                    </div>
                    <!-- fit -->
                    <div class="batch__product-mob-country">
                        <span>Страна</span>
                        <strong>Чехия</strong>
                    </div>
                </div>
                
            </div>
    </div>
</section>