<section class="card-desk">
    <div class="container">
        <div class="card-desk__wrapper">
            <div class="card-desk__top">
                <div class="card-desk__image">
                    <img src="./img/card/gub.png" alt="">
                </div>
                <div class="card-desk__inner">
                    <ul class="card-desk__list">
                        <li class="card-desk__item active" data-tab="1">описание</li>
                        <li class="card-desk__item " data-tab="2">применение</li>
                        <li class="card-desk__item " data-tab="3">состав</li>
                    </ul>
                    <div class="card-desk__block active" data-tab="1">
                        <div class="card-desk__block-name">
                            <strong>Bogenia creamy lipstick</strong>
                            <span>о продукте</span>
                        </div>
                        <div class="card-desk__block-text">
                            <p>Помада Bogenia Matte Lipstick имеет матовый финиш, нежный аромат и ухаживающие масла в составе, что обеспечивает комфортное нанесение. Если подчеркнуть контур губ карандашом на несколько оттенков темнее и нанести матовую помаду в технике Омбре, можно добиться визуального увеличения губ. Благодаря высокому содержанию пигмента, цвет губной помады яркий и насыщенный. Цветная палитра представлена в 6 тонах.  </p>
                            <p>В наличии классические темные и светлые цвета. Текстура настолько нежная, что напоминает бархат. Благодаря правильно подобранным компонентам в формуле, помада создает эффект объёма и сияния. Подходит для женщин любого возраста.</p>
                        </div>
                    </div>
                    <div class="card-desk__block" data-tab="2">
                        <div class="card-desk__block-name">
                            <strong>Bogenia creamy lipstick</strong>
                            <span>о продукте</span>
                        </div>
                       
                    </div>
                    <div class="card-desk__block" data-tab="3">
                        <div class="card-desk__block-name">
                            <strong>Bogenia creamy lipstick</strong>
                            <span>о продукте</span>
                        </div>
                        <div class="card-desk__block-text">
                            <p>Помада Bogenia Matte Lipstick имеет матовый финиш, нежный аромат и ухаживающие масла в составе, что обеспечивает комфортное нанесение. Если подчеркнуть контур губ карандашом на несколько оттенков темнее и нанести матовую помаду в технике Омбре, можно добиться визуального увеличения губ. Благодаря высокому содержанию пигмента, цвет губной помады яркий и насыщенный. Цветная палитра представлена в 6 тонах.  </p>
                            <p>В наличии классические темные и светлые цвета. Текстура настолько нежная, что напоминает бархат. Благодаря правильно подобранным компонентам в формуле, помада создает эффект объёма и сияния. Подходит для женщин любого возраста.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-desk__bottom">
                <div class="card-desk__bottom-title">
                    заверши свой образ 
                </div>
                <div class="card-desk__bottom-wrapper">
                    <div class="card-desk__swiper swiper">
                        <div class="card-desk__swiper-wrapper swiper-wrapper">
                            <div class="card-desk__slide swiper-slide">
                                <div class="product">
                                    <div class="product__name">
                                        <strong>Skin Editor</strong>
                                        <span>тональный BB-крем</span>
                                    </div>
                                    <div class="product__image">
                                        <div class="product__image-content">
                                            <img src="./img/product/product2.png" alt="">
                                        </div>
                                        
                                    </div>
                                    <div class="product__inner">
                                       <div class="product__inner-wrapper">
                                            <div class="product__color-text">
                                                Цвета:
                                            </div>
                                            <div class="product__inner-colors">
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color1.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color2.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color3.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color4.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color5.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color6.svg" alt="">
                                                </div>
                                            </div>
                                            <a href="" class="product__link">
                                                <img src="./img/icon/nextgrey.svg" alt="">
                                            </a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="card-desk__slide swiper-slide">
                                <div class="product">
                                    <div class="product__name">
                                        <strong>Skin Editor</strong>
                                        <span>тональный BB-крем</span>
                                    </div>
                                    <div class="product__image">
                                        <div class="product__image-content">
                                            <img src="./img/product/product2.png" alt="">
                                        </div>
                                        
                                    </div>
                                    <div class="product__inner">
                                       <div class="product__inner-wrapper">
                                            <div class="product__color-text">
                                                Цвета:
                                            </div>
                                            <div class="product__inner-colors">
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color1.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color2.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color3.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color4.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color5.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color6.svg" alt="">
                                                </div>
                                            </div>
                                            <a href="" class="product__link">
                                                <img src="./img/icon/nextgrey.svg" alt="">
                                            </a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                             <!-- slide -->
                             <div class="card-desk__slide swiper-slide">
                                <div class="product">
                                    <div class="product__name">
                                        <strong>Skin Editor</strong>
                                        <span>тональный BB-крем</span>
                                    </div>
                                    <div class="product__image">
                                        <div class="product__image-content">
                                            <img src="./img/product/product2.png" alt="">
                                        </div>
                                        
                                    </div>
                                    <div class="product__inner">
                                       <div class="product__inner-wrapper">
                                            <div class="product__color-text">
                                                Цвета:
                                            </div>
                                            <div class="product__inner-colors">
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color1.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color2.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color3.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color4.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color5.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color6.svg" alt="">
                                                </div>
                                            </div>
                                            <a href="" class="product__link">
                                                <img src="./img/icon/nextgrey.svg" alt="">
                                            </a>
                                       </div>
                                    </div>
                                </div>
                             </div>
                             <!-- slide -->
                             <div class="card-desk__slide swiper-slide">
                                <div class="product">
                                    <div class="product__name">
                                        <strong>Skin Editor</strong>
                                        <span>тональный BB-крем</span>
                                    </div>
                                    <div class="product__image">
                                        <div class="product__image-content">
                                            <img src="./img/product/product2.png" alt="">
                                        </div>
                                        
                                    </div>
                                    <div class="product__inner">
                                       <div class="product__inner-wrapper">
                                            <div class="product__color-text">
                                                Цвета:
                                            </div>
                                            <div class="product__inner-colors">
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color1.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color2.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color3.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color4.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color5.svg" alt="">
                                                </div>
                                                <div class="product__inner-color">
                                                    <img src="./img/colors/color6.svg" alt="">
                                                </div>
                                            </div>
                                            <a href="" class="product__link">
                                                <img src="./img/icon/nextgrey.svg" alt="">
                                            </a>
                                       </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <!-- swiper -->
                    <div class="card-desk__block">
                        <div class="pagination card-desk__pagination">
                            <div class="pagination__fraction card-desk__fraction">
            
                            </div>
                            <div class="pagination__arrows card-desk__pagination-arrows">
                                <div class="pagination__prev card-desk__prev">
                                    <span>назад</span>
                                </div>
                                <div class="pagination__next card-desk__next">
                                    <span>вперед</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>