<section class="card">
    <div class="card__bg"></div>
    <div class="container">
        <div class="card__wrapper">
            <div class="card__left">
                <div class="card__small">
                    <div class="card__swiper swiper">
                        <div class="card__swiper-wrapper swiper-wrapper">
                            <div class="card__slide swiper-slide">
                                <div class="card__slide-content">
                                    <div class="card__slide-image">
                                        <img src="./img/card/card1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="card__slide swiper-slide">
                                <div class="card__slide-content">
                                    <div class="card__slide-image">
                                        <img src="./img/card/card2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="card__slide swiper-slide">
                                <div class="card__slide-content">
                                    <div class="card__slide-image">
                                        <img src="./img/card/card3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                        </div>
                    </div>
                    <!-- swiper -->
                    <div class="card__swiper-next">
                        <img src="./img/icon/downarrowblack.svg" alt="">
                    </div>
                </div>
                <div class="card__big">
                    <div class="card__two-swiper swiper">
                        <div class="card__two-swiper-wrapper swiper-wrapper">
                            <div class="card__two-slide swiper-slide">
                                <div class="card__two-new">
                                    <span>new</span>
                                </div>
                                <div class="card__two-content">
                                    <div class="card__two-image">
                                        <img src="./img/card/bigcard1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                            <div class="card__two-slide swiper-slide">
                                <div class="card__two-content">
                                    <div class="card__two-image">
                                        <img src="./img/card/bigcard1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- slide -->
                        </div>
                    </div>
                    <div class="card__two-swiper-pagination">
                        
                    </div>
                </div>
            </div>
            <div class="card__right">
                <div class="card__table">
                    <div class="card__table-title">
                        <span>ПОМАДА ДЛЯ ГУБ КРЕМОВАЯ</span>
                        <strong>Bogenia creamy lipstick</strong>
                    </div>
                    <div class="card__select-bottom card__size js-open-size">
                        <div class="card__top">
                            <span class="js-size"> 
                                <div class="key">
                                    <div class="key__bg"></div>
                                </div>
                                <div class="text">03 - true love</div>
                            </span>
                            <button>
                                <img src="./img/icon/downarrowblack.svg" alt="">
                            </button>
                        </div>
                        <div class="card__select-list">
                            <div class="card__select-list-ul">
                                <li class="card__select-item select-item-js">
                                    <div class="key" style="background: red;">
                                    
                                    </div>
                                    <div class="text">02 - true love</div>
                                </li>
                                <li class="card__select-item select-item-js">
                                    <div class="key" style="background: blue;">
                                    
                                    </div>
                                    <div class="text">05 - true love</div>
                                </li>
                                <li class="card__select-item select-item-js">
                                    <div class="key" style="background: blue;">
                                    
                                    </div>
                                    <div class="text">05 - true love</div>
                                </li>
                                <li class="card__select-item select-item-js">
                                    <div class="key" style="background: blue;">
                                    
                                    </div>
                                    <div class="text">05 - true love</div>
                                </li>
                            </div>
                        
                        </div>
                    </div>
                    <!-- bottom -->
                    <div class="card__table-weight">
                        вес: <span>4 ГР</span>
                    </div>

                    <button class="button-all popup-open">
                        <span>купить сейчас </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>