<section class="catalog">
    <div class="container">
        <div class="title">
            <strong>все товары категории </strong>
        </div>
        <div class="catalog__btns">
            <button class="catalog__btn">
                <span>фильтры</span>
            </button>
            <button class="catalog__btn">
                <span>сортировка </span>
            </button>
        </div>
        <div class="catalog__wrapper">
            <div class="catalog__product">
                <div class="catalog__product-new">
                    <span>new</span>
                </div>
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="catalog__product-eco">
                   <img src="./img/icon/eco.svg" alt="">
                </div>
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
            <div class="catalog__product">
                <div class="product">
                    <div class="product__name">
                        <strong>Skin Editor</strong>
                        <span>тональный BB-крем</span>
                    </div>
                    <div class="product__image">
                        <div class="product__image-content">
                             <img src="./img/product/product2.png" alt="">
                        </div>
                     </div>
                    <div class="product__inner">
                       <div class="product__inner-wrapper">
                            <div class="product__color-text">
                                Цвета:
                            </div>
                            <div class="product__inner-colors">
                                <div class="product__inner-color">
                                    <img src="./img/colors/color1.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color2.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color3.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color4.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color5.svg" alt="">
                                </div>
                                <div class="product__inner-color">
                                    <img src="./img/colors/color6.svg" alt="">
                                </div>
                            </div>
                            <a href="" class="product__link">
                                <img src="./img/icon/nextgrey.svg" alt="">
                            </a>
                       </div>
                    </div>
                </div>
            </div>
            <!-- product -->
        </div>
        <div class="catalog__block">
            <div class="pagination catalog__pagination">
                <div class="pagination__fraction catalog__fraction">

                </div>
                <div class="pagination__arrows catalog__pagination-arrows">
                    <div class="pagination__prev catalog__prev">
                        <span>назад</span>
                    </div>
                    <div class="pagination__next catalog__next">
                        <span>вперед</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>