<section class="categories">
    <div class="container">
        <div class="title">
            <span>популярные</span>
            <strong>категории</strong>
        </div>
        <div class="categories__wrapper">
            <div class="categories__swiper swiper">
                <div class="categories__swiper-wrapper swiper-wrapper">
                    <div class="categories__slide">
                        <a href="" class="merchandise pink">
                            <div class="merchandise__content">
                                <div class="merchandise__title">
                                    Лицо
                                </div>
                                <!-- title -->
                                <div class="merchandise__text">
                                    <strong>20+</strong>
                                    <span>позиций</span>
                                </div>
                                <div class="merchandise__image">
                                    <div class="merchandise__image-content merchandise__image-content--medium">
                                        <img src="./img/merchandise/pro0.png" alt="">
                                    </div>
                                   
                                </div>
                                <!-- image -->
                                <div class="merchandise__circle-block">
                                    <div class="merchandise__circle-text">
                                        Праймеры пудры румяна
                                    </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                    <!--  -->
                    <div class="categories__slide">
                        <a href="" class="merchandise orange">
                            <div class="merchandise__content">
                                <div class="merchandise__title">
                                   Глаза
                                </div>
                                <!-- title -->
                                <div class="merchandise__text">
                                    <strong>20+</strong>
                                    <span>позиций</span>
                                </div>
                                <div class="merchandise__image">
                                    <div class="merchandise__image-content">
                                        <img src="./img/merchandise/pro1.png" alt="">
                                    </div>
                                    
                                </div>
                                <!-- image -->
                            </div>
                        </a>
                    </div>
                    <div class="categories__slide">
                        <a href="" class="merchandise pink">
                            <div class="merchandise__content">
                                <div class="merchandise__title">
                                    Губы
                                </div>
                                <!-- title -->
                                <div class="merchandise__text">
                                    <strong>20+</strong>
                                    <span>позиций</span>
                                </div>
                                <div class="merchandise__image">
                                    <div class="merchandise__image-content">
                                        <img src="./img/merchandise/pro2.png" alt="">
                                    </div>
                                   
                                </div>
                                <!-- image -->
                            </div>
                        </a>
                    </div>
                    <div class="categories__slide">
                        <a href="" class="merchandise orange">
                            <div class="merchandise__content">
                                <div class="merchandise__title">
                                    Ногти
                                </div>
                                <!-- title -->
                                <div class="merchandise__text">
                                    <strong>20+</strong>
                                    <span>позиций</span>
                                </div>
                                <div class="merchandise__image">
                                    <div class="merchandise__image-content merchandise__image-content--medium">
                                        <img src="./img/merchandise/pro3.png" alt="">
                                    </div>
                                    
                                </div>
                                <!-- image -->
                            </div>
                        </a>
                    </div>
                    <div class="categories__slide">
                        <a href="" class="merchandise pink">
                            <div class="merchandise__content">
                                <div class="merchandise__title">
                                    Кисти
                                </div>
                                <!-- title -->
                                <div class="merchandise__text">
                                    <strong>20+</strong>
                                    <span>позиций</span>
                                </div>
                                <div class="merchandise__image">
                                    <div class="merchandise__image-content">
                                        <img src="./img/merchandise/pro4.png" alt="">
                                    </div>
                                    
                                </div>
                                <!-- image -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
           
            
           
           
            
        </div>
        <div class="categories__block">
            <div class="pagination categories__pagination">
                <div class="pagination__fraction categories__fraction">

                </div>
                <div class="pagination__arrows categories__pagination-arrows">
                    <div class="pagination__prev categories__prev">
                        <span>назад</span>
                    </div>
                    <div class="pagination__next categories__next">
                        <span>вперед</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

