<section class="contacts">
    <div class="container">
        <div class="title">
            <strong>наши контакты</strong>
        </div>
        <div class="contacts__wrapper">
            <div class="contacts__image">
                <img src="./img/contacts/contacts1.svg" alt="">
            </div>
            <div class="contacts__block">
                <div class="contacts__wrap">
                    <div class="contacts__title">
                        отдел продаж
                    </div>
                    <div class="contacts__inner">
                        <div class="contacts__inner-block">
                            <span>Телефон</span>
                            <strong>8-800-250-16-26</strong>
                        </div>
                        <div class="contacts__inner-block">
                            <span>E-mail</span>
                            <strong>info@Bogenia.com</strong>
                        </div>
                    </div>
                </div>
                <!-- wrap -->
                <div class="contacts__wrap">
                    <div class="contacts__title">
                        отдел развития
                    </div>
                    <div class="contacts__inner">
                        <div class="contacts__inner-block">
                            <span>Телефон</span>
                            <strong>8-800-250-16-26</strong>
                        </div>
                        <div class="contacts__inner-block">
                            <span>E-mail</span>
                            <strong>info@Bogenia.com</strong>
                        </div>
                    </div>
                </div>
                <!-- wrap -->
                <div class="contacts__wrap">
                    <div class="contacts__inner">
                        <div class="contacts__inner-block">
                            <span>Режим работы</span>
                            <strong>с 9-00 до 17-00</strong>
                        </div>
                        
                    </div>
                </div>
                <!-- wrap -->
            </div>
            <!-- block -->
            
                <div class="contacts__image-block">
                    <img src="./img/contacts/contacts22.png" alt="">
                </div>
            
        </div>
    </div>
</section>