<section class="day">
    <div class="container">
        <div class="day__table">
            <div class="day__inner">
                <div class="day__product">
                    <span>Товар дня</span>
                </div>
                <div class="day__title">
                    тени<br>
                    матовые<br> 
                    для век
                </div>
                <ul class="day__colors">
                    <li class="day__color">
                        <img src="./img/day/color1.svg" alt="">
                    </li>
                    <li class="day__color">
                        <img src="./img/day/color2.svg" alt="">
                    </li>
                    <li class="day__color">
                        <img src="./img/day/color3.svg" alt="">
                    </li>
                    <li class="day__color">
                        <img src="./img/day/color4.svg" alt="">
                    </li>
                    <li class="day__color">
                        <img src="./img/day/color5.svg" alt="">
                    </li>
                </ul>
                <a class="day__link">
                    <span>подробнее</span>
                </a>

            </div>
            <div class="day__image">
                <img src="./img/day/day1.png" alt="">
            </div>
            <div class="day__text">
                <div class="day__text-collection">
                    <span>коллекция</span>
                    <strong>Metamorphoses</strong>
                </div>
                <div class="day__text-word">
                    В палитре пять оттенков теней, в состав которых входят витамин Е
                </div>
            </div>
        </div>
    </div>
</section>