<section class="new wow animate__backInUp" data-wow-duration="9s" data-wow-delay="5s">
    <div class="container">
        <div class="title">
            <strong>новинки</strong>
        </div>
        <div class="new__wrapper">
            <div class="new__swiper swiper">
                <div class="new__swiper-wrapper swiper-wrapper">
                    <div class="new__slide swiper-slide">
                        <div class="new__circle">
                            <span>news</span>
                        </div>
                        <div class="product">
                            <div class="product__name">
                                <strong>Skin Editor</strong>
                                <span>тональный BB-крем</span>
                            </div>
                            <div class="product__image">
                                <div class="product__image-content">
                                    <img src="./img/product/product2.png" alt="">
                                </div>
                                
                            </div>
                            <div class="product__inner">
                               <div class="product__inner-wrapper">
                                    <div class="product__color-text">
                                        Цвета:
                                    </div>
                                    <div class="product__inner-colors">
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color1.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color2.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color3.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color4.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color5.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color6.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="" class="product__link">
                                        <img src="./img/icon/nextgrey.svg" alt="">
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="new__slide swiper-slide">
                        <div class="new__circle">
                            <span>news</span>
                        </div>
                        <div class="product">
                            <div class="product__name">
                                <strong>Skin Editor</strong>
                                <span>тональный BB-крем</span>
                            </div>
                            <div class="product__image">
                                <div class="product__image-content">
                                    <img src="./img/product/product2.png" alt="">
                                </div>
                                
                            </div>
                            <div class="product__inner">
                               <div class="product__inner-wrapper">
                                    <div class="product__color-text">
                                        Цвета:
                                    </div>
                                    <div class="product__inner-colors">
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color1.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color2.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color3.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color4.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color5.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color6.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="" class="product__link">
                                        <img src="./img/icon/nextgrey.svg" alt="">
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="new__slide swiper-slide">
                        <div class="new__circle">
                            <span>news</span>
                        </div>
                        <div class="product">
                            <div class="product__name">
                                <strong>Skin Editor</strong>
                                <span>тональный BB-крем</span>
                            </div>
                            <div class="product__image">
                                <div class="product__image-content">
                                    <img src="./img/product/product2.png" alt="">
                                </div>
                                
                            </div>
                            <div class="product__inner">
                               <div class="product__inner-wrapper">
                                    <div class="product__color-text">
                                        Цвета:
                                    </div>
                                    <div class="product__inner-colors">
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color1.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color2.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color3.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color4.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color5.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color6.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="" class="product__link">
                                        <img src="./img/icon/nextgrey.svg" alt="">
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="new__slide swiper-slide">
                        <div class="new__circle">
                            <span>news</span>
                        </div>
                        <div class="product">
                            <div class="product__name">
                                <strong>Skin Editor</strong>
                                <span>тональный BB-крем</span>
                            </div>
                            <div class="product__image">
                                <div class="product__image-content">
                                    <img src="./img/product/product2.png" alt="">
                                </div>
                                
                            </div>
                            <div class="product__inner">
                               <div class="product__inner-wrapper">
                                    <div class="product__color-text">
                                        Цвета:
                                    </div>
                                    <div class="product__inner-colors">
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color1.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color2.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color3.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color4.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color5.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color6.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="" class="product__link">
                                        <img src="./img/icon/nextgrey.svg" alt="">
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="new__slide swiper-slide">
                        <div class="new__circle">
                            <span>news</span>
                        </div>
                        <div class="product">
                            <div class="product__name">
                                <strong>Skin Editor</strong>
                                <span>тональный BB-крем</span>
                            </div>
                            <div class="product__image">
                                <div class="product__image-content">
                                    <img src="./img/product/product2.png" alt="">
                                </div>
                                
                            </div>
                            <div class="product__inner">
                               <div class="product__inner-wrapper">
                                    <div class="product__color-text">
                                        Цвета:
                                    </div>
                                    <div class="product__inner-colors">
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color1.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color2.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color3.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color4.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color5.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color6.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="" class="product__link">
                                        <img src="./img/icon/nextgrey.svg" alt="">
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="new__slide swiper-slide">
                        <div class="new__circle">
                            <span>news</span>
                        </div>
                        <div class="product">
                            <div class="product__name">
                                <strong>Skin Editor</strong>
                                <span>тональный BB-крем</span>
                            </div>
                            <div class="product__image">
                                <div class="product__image-content">
                                    <img src="./img/product/product2.png" alt="">
                                </div>
                                
                            </div>
                            <div class="product__inner">
                               <div class="product__inner-wrapper">
                                    <div class="product__color-text">
                                        Цвета:
                                    </div>
                                    <div class="product__inner-colors">
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color1.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color2.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color3.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color4.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color5.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color6.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="" class="product__link">
                                        <img src="./img/icon/nextgrey.svg" alt="">
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="new__slide swiper-slide">
                        <div class="new__circle">
                            <span>news</span>
                        </div>
                        <div class="product">
                            <div class="product__name">
                                <strong>Skin Editor</strong>
                                <span>тональный BB-крем</span>
                            </div>
                            <div class="product__image">
                                <div class="product__image-content">
                                    <img src="./img/product/product2.png" alt="">
                                </div>
                                
                            </div>
                            <div class="product__inner">
                               <div class="product__inner-wrapper">
                                    <div class="product__color-text">
                                        Цвета:
                                    </div>
                                    <div class="product__inner-colors">
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color1.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color2.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color3.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color4.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color5.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color6.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="" class="product__link">
                                        <img src="./img/icon/nextgrey.svg" alt="">
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="new__slide swiper-slide">
                        <div class="new__circle">
                            <span>news</span>
                        </div>
                        <div class="product">
                            <div class="product__name">
                                <strong>Skin Editor</strong>
                                <span>тональный BB-крем</span>
                            </div>
                            <div class="product__image">
                                <div class="product__image-content">
                                    <img src="./img/product/product2.png" alt="">
                                </div>
                                
                            </div>
                            <div class="product__inner">
                               <div class="product__inner-wrapper">
                                    <div class="product__color-text">
                                        Цвета:
                                    </div>
                                    <div class="product__inner-colors">
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color1.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color2.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color3.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color4.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color5.svg" alt="">
                                        </div>
                                        <div class="product__inner-color">
                                            <img src="./img/colors/color6.svg" alt="">
                                        </div>
                                    </div>
                                    <a href="" class="product__link">
                                        <img src="./img/icon/nextgrey.svg" alt="">
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new__block">
                <div class="pagination new__pagination">
                    <div class="pagination__fraction new__fraction">
    
                    </div>
                    <div class="pagination__arrows new__pagination-arrows">
                        <div class="pagination__prev new__prev">
                            <span>назад</span>
                        </div>
                        <div class="pagination__next new__next">
                            <span>вперед</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>