<section class="news">
    <div class="container">
        <div class="title">
            <strong>новости</strong>
        </div>
        <div class="news__wrapper">
            <a href="" class="news__table">
                <div class="news__image">
                    <img src="./img/news/news1.png" alt="">
                </div>
                <div class="news__inner">
                    <div class="news__number">01</div>
                    <div class="news__date">20. 03 .22</div>
                </div>
                <div class="news__block">
                    <div class="news__icon">
                       
                            <img src="./img/news/icontap.svg" alt="">
                        
                    </div>
                    <div class="news__text">
                        <strong>Сыворотки для ухода</strong>
                        <span>Для идеальной кожи</span>
                    </div>
                </div>
            </a>
            <a href="" class="news__table">
                <div class="news__image">
                    <img src="./img/news/news2.png" alt="">
                </div>
                <div class="news__inner">
                    <div class="news__number">01</div>
                    <div class="news__date">20. 03 .22</div>
                </div>
                <div class="news__block">
                    <div class="news__icon">
                       
                            <img src="./img/news/icontap.svg" alt="">
                        
                    </div>
                    <div class="news__text">
                        <strong>Сыворотки для ухода</strong>
                        <span>Для идеальной кожи</span>
                    </div>
                </div>
            </a>
            <a href="" class="news__table">
                <div class="news__image">
                    <img src="./img/news/news3.png" alt="">
                </div>
                <div class="news__inner">
                    <div class="news__number">01</div>
                    <div class="news__date">20. 03 .22</div>
                </div>
                <div class="news__block">
                    <div class="news__icon">
                       
                            <img src="./img/news/icontap.svg" alt="">
                        
                    </div>
                    <div class="news__text">
                        <strong>Сыворотки для ухода</strong>
                        <span>Для идеальной кожи</span>
                    </div>
                </div>
            </a>
        </div>
        <button class="news__all">
            <span>смотреть все</span>
        </button>
    </div>
</section>