<section class="news-detail">
    <div class="container">
        <div class="news-detail__table">
            <div class="news-detail__table-data">
                <a href="" class="news-detail__table-link">
                    <span>назад</span>
                </a>
                <div class="news-detail__table-date">
                    20. 03 .22
                </div>
            </div>
            <!-- data -->
            <div class="news-detail__table-block">
                <div class="news-detail__table-icon">

                    <img src="./img/news/icontap.svg" alt="">

                </div>
                <div class="news-detail__table-text">
                    <strong>Сыворотки для ухода</strong>
                    <span>Для идеальной кожи</span>
                </div>
            </div>
            <div class="news-detail__table-image">
                <img src="./img/card/detail.png" alt="">
            </div>
        </div>
        <div class="news-detail__text">
            <p> Вам наверняка интересно, какие оттенки будут хорошо смотреться в интерьере гостиной на заказ от
                производителя LetMebel. Если вам хочется использовать сразу несколько представителей цветовой палитры,
                то лучше всего использовать «солнечные» оттенки, имеющие жёлтую основу: розовое золото, песочный,
                бежевый и многие-многие другие. Однако, предпочтение лучше отдавать пастельным оттенкам, а не глубоким,
                поскольку они вступят в резкий контраст с бордовыми. </p>

            <p>Молодое вино. Этот насыщенный оттенок бордового с преобладанием холодного синего не терпит глянца, ему
                больше подходят матовые текстуры, способные немного усмирить его броскую выразительность. Лучше всего
                будут смотреться неровные фактуры, кирпичные стены и массивный шкаф в гостиную на заказ, перетягивающий
                внимание на себя. </p>

            <p>Марсала. Красивый приглушенный тон с преобладанием коричневого тона и мягким бордовым отливом. Хотя
                визуальная скромность обманчива. Несмотря на всё очарование внешне неяркого марсала, использовать его
                следует только на идеально ровных поверхностях, иначе он перетянет на себя всё внимание. </p>

            <p>Бордо. Самый классический вариант – конечно же, бордо. Его тон абсолютен, насыщен и роскошнее всего
                смотрится с крупными узорами и орнаментами в золотом или белом цвете. Мебель для гостиной на заказ можно
                выбирать решительно любую, хотя лучше всего подойдут конструкции в классическом или барокко стиле. </p>

            <p>Карминовый. Этот оттенок лучше всего подходит именно для гостиной под заказ, поскольку он имеет
                достаточно сильную энергетику, которую практически невозможно использовать для других комнат. Зато для
                создания роскошного интерьера зала, подходящему к приёму гостей и проведению семейных торжеств. Это как
                раз тот вариант, когда уместен и глянец, и богатая светодиодная подсветка, и лепной декор, создающий
                интересную игру теней. </p>
        </div>
    </div>
</section>