<section class="partners">
    <div class="partners__bg">
        
    </div>
    <div class="partners__image">
        <img src="./img/partner/partner.png" alt="">
    </div>
    <div class="partners__image-mob">
            <img src="./img/partner/partnermob.png" alt="">
    </div>
    <div class="container">
        <div class="partners__wrapper">
            <div class="partners__left">
                <div class="partners__title">
                    <strong>Хотите<br> стать оптовым партнером?</strong>
                    <span>Отправьте нам заявку, мы свяжемся с вами</span>
                </div>
            </div>
            <div class="partners__right">
                <div class="partners__right-title">
                    кратко о вас
                </div>
                <form action="" class="partners__form">
                    <div class="partners__form-wrap">
                        <div class="partners__form-inner">
                            
                            <input type="text" placeholder="ФИО">
                        </div>
                        <div class="partners__form-inner">
                            
                            <input type="text" placeholder="+ 7 ___ ___ __ __">
                        </div>
                    </div>
                    <div class="partners__form-wrap">
                        <div class="partners__form-inner">
                           
                            <input type="text" placeholder="e-mail">
                        </div>
                        <div class="partners__form-inner">
                            <div class="partners__select">
                                <input class="partners__select-input" type="hidden" name="">
                                <div class="partners__select-head">вид юридического или физ. лица </div>
                                <ul class="partners__select-list">
                                    <li class="partners__select-item">вид юридическог</li>
                                    <li class="partners__select-item">физ. лица </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="partners__form-inner partners__form-inner--text">
                        
                        <input type="text" placeholder="сфера деятельности">
                    </div>
                    <button class="button-all">
                        <span>отправить</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>