<section class="seo">
    <div class="container">
        <div class="seo__title"><strong>Bogenia - бренд декоративной косметики, родившийся в 2011 году солнечной Турции под лучами южного солнца.</strong></div>
        <div class="seo__inner">
            <div class="seo__left">
                <div class="seo__left-title">
                    <strong>о компании</strong>
                    <div class="seo__left-pink">
                        <span>since 2011</span>
                    </div>
                </div>
                <div class="seo__left-block">
                    <div class="seo__left-image">
                        <img src="./img/seo/seo1.png" alt="">
                    </div>
                    <div class="seo__left-text">
                        <p>«Все женщины прекрасны!» - главная идея Bogenia </p>
                        <p>«Высокое качество по доступной цене» - основная стратегия Bogenia</p>
                    </div>
                </div>
            </div>
            <!-- left -->
            <div class="seo__right">
                <div class="seo__right-text">
                    <p>В 2004 году было основано предприятие MALVA Cosmetics, производившее одноименный бренд Malva. Спрос на косметику рос, вместе с ним росло качество продукции, оттачивались формулы, совершенствовались текстуры. Закреплялся принцип «наивысшее качество – оптимальная цена». На основе этого принципа родился бренд Bogenia, который собирает все актуальные тенденции в мире моды и красоты и воплощает их в своей продукции.</p>
                    <p>  Качество косметики, фирменная упаковка, интересные текстуры, гармоничные цветовые палитры продуктов – то, что ценят девушки в нашем бренде во всем мире.</p>
                </div>
            </div>
        </div>
    </div>
</section>