@font-face {
    font-family: 'Sofia Pro';
    src: 
        url('../fonts/SofiaProRegular.woff2') format('woff2'),
        url('../fonts/SofiaProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: 
        url('../fonts/SofiaProMedium.woff2') format('woff2'),
        url('../fonts/SofiaProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}




@font-face {
    font-family: 'Druk Cyr';
    src: local('Druk Cyr Heavy'), local('DrukCyr-Heavy'),
        url('../fonts/Druk-Wide-Cyr-Bold.woff2') format('woff2'),
        url('../fonts/Druk-Wide-Cyr-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'Druk Wide Cyr';
    src: local('Druk Cyr Medium'), local('DrukCyr-Medium'),
        url('../fonts/Druk-Wide-Cyr-Medium.woff2') format('woff2'),
        url('../fonts/Druk-Wide-Cyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// @font-face {
// 	font-family: 'Druk Wide Cyr';
// 	src: url('../fonts/drukwidecyr-bold.eot'); /* IE 9 Compatibility Mode */
// 	src: url('../fonts/drukwidecyr-bold.eot') format('embedded-opentype'), /* IE < 9 */
// 		url('../fonts/drukwidecyr-bold.woff2') format('woff2'), /* Super Modern Browsers */
// 		url('../fonts/drukwidecyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
// 		url('../fonts/drukwidecyr-bold.ttf') format('truetype');
	
// }




